body {
  background-color: #606060;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif; }

h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #797979; }

input {
  border-radius: 8px; }

button {
  border-radius: 8px; }

li {
  font-family: 'Quicksand', sans-serif;
  list-style: none; }

ul {
  padding-left: 33px; }

form {
  margin-right: auto;
  margin-left: auto;
  width: 62%;
  padding-bottom: 10px; }

.tasks {
  margin-top: 2px; }

.form input {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Quicksand', sans-serif; }

.complete {
  text-decoration: line-through; }

.todo {
  background-color: #F6F6F6;
  box-shadow: 3px 4px 9px 11px #5a5656;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-radius: 15px;
  position: relative; }

.lists {
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 600px;
  font-size: 20px; }
  .lists li {
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    margin-bottom: 1px; }
  .lists input {
    margin-left: 5px;
    margin-right: 5px; }

.fa-undo {
  padding: 5px;
  float: right;
  position: absolute;
  right: 120px;
  top: 95px; }

.fa-minus-square {
  float: right;
  color: darkgrey;
  position: absolute;
  right: 5px;
  top: 2px; }

.hidden {
  visibility: hidden;
  height: 0; }

.bottom {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .bottom h5 {
    display: inline-block; }
  .bottom h6 {
    margin: 0;
    float: right;
    position: absolute;
    right: -10px;
    bottom: 30px; }

i {
  margin-right: 5px; }
