body{
  background-color: #848484;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
h1{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #797979;
}
input{
  border-radius: 8px;
}
button{
  border-radius: 8px;
  background-color: rgba(236, 236, 236, 0.67);
}
li{
  font-family: 'Quicksand', sans-serif;
  list-style: none;
   -webkit-transition: all 0.2s ease-out; transition: all 0.2s ease-out;
}
ul{
  padding-left: 33px;
}
form{
  margin-right: auto;
  margin-left: auto;
  width: 62%;
  padding-bottom: 10px;
}
button:hover{
  background-color: silver;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
label{
  cursor: pointer;
}
// Uncompleted Tasks
.tasks{
  margin-top: 2px;
}
.form{
  input{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Quicksand', sans-serif;
}
}
// Completed Tasks
.complete{
  text-decoration: line-through;
  font-style: italic;
  color: lightgrey;
}
// Whole List
.todo{
  background-color: #F6F6F6;
  box-shadow: 3px 4px 9px 11px rgb(90, 86, 86);
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-radius: 15px;
  position: relative;
}
.lists{
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 600px;
  font-size: 20px;

  li{
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    margin-bottom: 1px;
  }
  input{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}
// Reset button
.fa-undo{
  padding: 5px;
  float: right;
  position: absolute;
  right: 120px;
  top: 95px;

}
// Remove task button
.fa-minus-square{
  float: right;
  color: silver;
  position: absolute;
  right: 5px;
  top: 2px;
}
.fa-minus-square:hover{
  color: darkgrey;
  cursor: pointer;
}
// Hidden class
.hidden{
  visibility: hidden;
  height: 0;
}
// footer
.bottom{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  h5{
    display: inline-block;
  }
  h6{
  margin: 0;
  float: right;
  position: absolute;
  right: -10px;
  bottom: 30px;
  cursor: pointer;
  color: darkgrey;
  }
}
i{
  margin-right: 5px;
}
// Show/hide icon
.fa-eye-slash:before{
  margin-right: 5px
}
.fa-eye:before{
  margin-right: 5px
}
.clear{
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 12px;
  cursor: pointer;
  color: darkgrey;
  i{
    margin-right: 5px;
  }
}
h6:hover{
 color: black;
}
.clear:hover{
  color: black
}
