body{
  background-color: #606060;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
h1{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #797979;
}
li{
  font-family: 'Quicksand', sans-serif;
  list-style: none;
}

form{
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}
.form{
  input{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Quicksand', sans-serif;
}
}
.complete{
  text-decoration: line-through;
}
.todo{
  background-color: #F6F6F6;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-radius: 15px;
  position: relative;
}
.incomplete{
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 600px;
  li{
    border: 1px solid lightgrey;

  }
  input{
    margin-left: 5px;
  }
}
.fa-undo{
  padding: 5px;
  float: right;
  position: absolute;
  right: 120px;
  top: 95px;

}
.fa-minus-square{
  float: right;
  color: darkgrey;
}
